.el-breadcrumb {
	background-color: #eef1f6;
	padding: 0 0 7px;
}

.secction {
	position: relative;
	height: calc(100% - 20px);
	overflow: auto;
	box-shadow: 0 5px 6px rgba(0, 0, 0, .2);
}

.diyscrollbar::-webkit-scrollbar-thumb {
	background-color: #C0CCDA;
}